.create-account-dialog-layout {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.create-account-dialog-layout vaadin-vertical-layout {
    align-items: center;
    padding: 0;
}

.create-account-dialog-content, vaadin-number-field{
    min-width: 336px;
    max-width: fit-content;
}

.create-account-dialog-button-width {
    width: 10em;
    max-width: 100%;
}
