.add-transaction-form-layout {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.add-transaction-form-layout vaadin-vertical-layout
{
    align-items: center;
    padding: 0;
}

.add-transaction-form-content
{
    min-width: 336px;;
    max-width: fit-content;
}
.add-transaction-form-layout vaadin-combo-box{
    width: 336px;
}

.add-transaction-form-button-width {
    width: 10em;
    max-width: 100%;
}
