@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

:root {
    --colour-black: #1e1e1e;
    --colour-white: #ffffff;
    --font-family: Lato, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    --font-size: 100%;
    --color-beige: #F0F0D9;
}

body {
    color: var(--colour-black);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

/*
 buttons styling
 */
vaadin-button,
.button {
    --button: hsl(0, 0%, 12%);
    --button-hover: hsl(0, 0%, 20%);
    --button-active: hsl(0, 0%, 30%);
    --button-visited: hsl(0, 0%, 20%);
    --button-colour: var(--colour-white);
    --button-border: var(--colour-black);
}

.button--primary {
    --button: hsl(346, 100%, 60%);
    --button-hover: hsl(346, 100%, 70%);
    --button-active: hsl(346, 100%, 80%);
    --button-visited: hsl(346, 100%, 70%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
}

.button--secondary {
    --button: hsl(0, 0%, 79%);
    --button-hover: hsl(0, 0%, 89%);
    --button-active: hsl(0, 0%, 69%);
    --button-visited: hsl(0, 0%, 89%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
}

.button--tertiary {
    --button: hsl(0, 100%, 90%);
    --button-hover: hsl(0, 100%, 94%);
    --button-active: hsl(0, 100%, 84%);
    --button-visited: hsl(0, 100%, 94%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
}

vaadin-button {
    padding: .9rem 1.7rem;
    color: var(--button-colour);
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background: var(--button);
    border: solid 1px var(--button-border);
    box-shadow: inset 0 0 0 2px var(--colour-white);
    margin-right: 1em;
}

vaadin-button:hover {
    text-decoration: underline;
    background: var(--button-hover);
    box-shadow: inset 0 0 0 4px var(--colour-white);
}

vaadin-button:active {
    background: var(--button-active);
}

vaadin-button:visited {
    background: var(--button-visited);
}

/*
links styling
 */
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
    /*color: #85bb65;*/
}

a {
    color: var(--colour-black);
}

/*
 login page styling
 */
.login-view {
    background-color: var(--colour-white);
    align-items: center;
    justify-content: center;
}

/*.login-logo-layout {*/
/*    background-color: var(--color-beige);*/
/*    justify-content: center;*/
/*}*/

.login-view-logo {
    padding: 10px;
    width: 150px;
}




