/*
 login page styling
 */
@media only screen and (max-width: 400px) {
    .login-view {
        width: 90%;
        height: 90%;
    }
}

.login-view{
    justify-content: center;
    align-items: center;
    margin: auto;
}

.login-view vaadin-vertical-layout {
    align-items: center;
    padding: 0;
}

.login-view-content {
    max-width: fit-content;
}

.login-width {
    width: 19em;
    max-width: 100%;
}

.login-view-logo {
    height: 100%;
    width: 150px;
}

.button--google {
    --button: hsl(180, 100%, 97%);
    --button-hover: hsl(272, 100%, 97%);
    --button-active: hsl(0, 100%, 97%);
    --button-visited: hsl(88, 100%, 97%);
    --button-colour: var(--colour-black);
    --button-border: var(--colour-black);
}

.login-view vaadin-login-form{
    max-width: 22em;
    margin: 0;
    height: 290px;
}